<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'DNS_CACHE.css' %}" >
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<title>DNS CACHE</title>
</head>
<body>
	<div class="heading">
		<h1>DNS CACHE</h1>
		
	</div>
	<div class="search-container">
	<form action="{% url 'search-url' %}" method="post">
		{% csrf_token %}
      <input type="text" placeholder="Search.." name="search" >
      <button type="submit"><i class="fa fa-search"></i></button>
  </form>

  </div>
  <div class="details">
	{% if output.1 == '1' %}
	<h2>{{output.0}}</h2>
	{% else %}
  	<h2>Time Elapsed:{{output.2}}</h>
    <h2>{{output.0}} </h>
    <h2>{{output.3}} IP Address is {{output.1}}</h>  
	{% endif %}	
  </div>
</body>
</html>